*{
    margin:0;
    padding:0;
}

.h1{
    text-align: center;
    margin-top: 3ch;
}

.menus{
    text-align: center;
    
}

.stars{
  position: absolute;

}

.container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}


.restaurants{
     flex: 0 1 300px;
    margin: 20px;
}

.flip-card {
    position: relative;
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px; 
    
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  .flip-card-back {
    background-color: yellow;
    color:black;
    transform: rotateY(180deg);
  }

  .menus{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
  }

@media screen and(min-width: 40em){
/*styling for mid-sized screen*/

    .container{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: calc(100%-2rem);
        height: 35rem;
    }
    
    .restaurants{
        flex: 0 1 300px;
         margin: 20px;
    }

}

@media screen and (min-width: 60em){
/*styling for large sized screen*/

.container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: calc(100%-1rem);
    height: 45rem;
}

.restaurants{
    flex: 0 1 300px;
     margin: 20px;
}   

}