<h1>{{restaurants.name}} Ratings</h1> <!--TO-DO: Does not find te restaurant name, only shows ratings-->

<a href = "/">Back to Homepage</a>

<style>
    .rating{
        display: flex;
        padding: 0;
        margin: 0;
    }

    .rating li{
        list-style-type: none;
    }

    .rating-item{
        border: 1px solid #fff;
        cursor: pointer;
        font-size: 2em;
        color: yellow;
     }

     .rating-item::before{
         content: "\2605";
     }

     .rating-item.active ~ .rating-item::before{
         content: "\2606";
     }

     .rating-item:hover ~ .rating-item::before{
         content: "\2606";
     }

</style>


<form action="/ratings" method ="POST">

    <ul class="rating">
        <li class="rating-item" data-rate="1"></li>
        <li class="rating-item active" data-rate="2"></li>
        <li class="rating-item" data-rate="3"></li>
        <li class="rating-item" data-rate="4"></li>
        <li class="rating-item" data-rate="5"></li>
    </ul>
     
     <textarea name="comment" id="CommentBox" cols="30" rows="10"></textarea>
     <button type="button">Submit</button>
</form>

<script>
    const container = document.querySelector('.rating');
    const items = container.querySelectorAll('.rating-item');
    
    container.onclick = e => {
        const elClass = e.target.classList;
        if(!elClass.contains('active')){
            items.forEach(
                items => items.classList.remove('active')
            );
            console.log(e.target.getAttribute("data-rate"));
            elClass.add('active');
        }
    };

</script>

